<% content_for :sidebar do %>
    <%- model_class = Ad -%>
    <h3>Ad Info</h3>
    <dl class="dl-vertical">
      <dt><strong><%= model_class.human_attribute_name(:view_type) %>:</strong></dt>
      <dd><%= @resource.view_type %></dd>
      <dt><strong><%= model_class.human_attribute_name(:visit_type) %>:</strong></dt>
      <dd><%= @resource.visit_type %></dd>
      <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
      <dd><%= @resource.title %></dd>
      <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
      <dd><%= @resource.description %></dd>
      <dt><strong><%= model_class.human_attribute_name(:position) %>:</strong></dt>
      <dd><%= @resource.position %></dd>
      <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
      <dd><%= @resource.start_date %></dd>
      <dt><strong><%= model_class.human_attribute_name(:end_date) %>:</strong></dt>
      <dd><%= @resource.end_date %></dd>
    </dl>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), url_for([:edit, @resource]), :class => 'btn btn-xs btn-primary' %>

    <%= render :partial => 'contacts/additional_info' %>


<% end %>
