<% if @contact.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for [@region, @contact], :html => { :multipart => true, :class => "form-horizontal contact" } do |f| %>



  <div class="form-group">
    <%= f.label :name, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:name]) %>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:description]) %>
  </div>

  <div class="form-group">
    <%= f.label :search_field, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :search_field, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:search_field]) %>
  </div>

  <div class="form-group">
    <%= f.label :contact_type_ids, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.collection_select :contact_type_ids, ContactType.without_parents.order(:name), :id, :name, {include_blank: 'Selecione o tipo de contato'}, {:class => 'form-control selectize', multiple: true} %>
    </div>
    <%= error_span(@contact[:contact_type_ids]) %>
  </div>

  <% if @region.blank? %>
    <div class="form-group">
      <%= f.label :region_id, :class => 'col-lg-2 col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.collection_select :region_id, Region.all, :id, :name, {}, {:class => 'form-control'} %>
      </div>
      <%= error_span(@contact[:region_id]) %>
    </div>
  <% else %>
    <%= f.hidden_field :helpful %>
  <% end %>

  <div class="form-group">
    <%= f.label :address, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:address]) %>
  </div>

  <div class="form-group">
    <%= f.label :address_for_geocoder, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :address_for_geocoder, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:address_for_geocoder]) %>
  </div>


  <br />
  <%= f.fields_for :phones do |phones_form| %>
    <div class="form-group">
      <%= phones_form.label "Telefone principal", :class => 'col-lg-2 control-label' %>
      <div class="col-lg-2">
        <%= phones_form.phone_field :area, class: 'form-control' %>
        <span class="help-block">Código de área</span>
      </div>
      <div class="col-lg-2">
        <%= phones_form.phone_field :number, class: 'form-control' %>
        <span class="help-block">Número</span>
      </div>
      <div class="col-lg-2">
        <%= phones_form.select :carrier, options_for_select(Phone.carrier_attributes_for_select, selected: phones_form.object.try(:carrier)), {:include_blank => 'Selecione a operadora'} , class: "form-control" %>
        <span class="help-block">Operadora</span>
      </div>
    </div>
  <% end %>

  <br />
  <%= f.fields_for :external_links do |external_link| %>
    <div class="form-group">
      <%= external_link.label "Link principal", :class => 'col-lg-2 control-label' %>
      <div class="col-lg-3">
        <%= external_link.select :link_type, options_for_select(ExternalLink.link_type_attributes_for_select, selected: external_link.object.try(:link_type)), {} , class: "form-control" %>
        <span class="help-block">Tipo</span>
      </div>

      <div class="col-lg-3">
        <%= external_link.text_field :link, :class => 'form-control' %>
        <span class="help-block">Link de acesso</span>
      </div>
      <div class="col-lg-3">
        <%= external_link.text_field :name, :class => 'form-control' %>
        <span class="help-block">Nome do link</span>
      </div>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :open_24, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.check_box :open_24, :class => 'form-control' %>
      </div>
      <%= error_span(@contact[:open_24]) %>
    </div>

    <div class="form-group">
      <%= f.label :on_call_drugstore, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.check_box :on_call_drugstore, :class => 'form-control' %>
      </div>
      <%= error_span(@contact[:on_call_drugstore]) %>
    </div>
    <div class="form-group">
      <%= f.label :subscriber, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.check_box :subscriber, :class => 'form-control' %>
      </div>
      <%= error_span(@contact[:subscriber]) %>
    </div>
  <% if @contact.photos.main_photos.empty? %>
      <%= f.fields_for :photos, @contact.photos.build do |photo_builder| %>
          <div class="form-group">
            <%= photo_builder.label t('general.contact_photo'), :class => 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <input type="text" readonly="" class="form-control floating-label" placeholder="<%= t('general.contact_photo_placeholder') %>">
              <%= photo_builder.file_field :file %>
              <%= photo_builder.hidden_field :main, :value => true %>
            </div>
          </div>
      <% end %>
  <% else %>
        <!-- MAIN PHOTOS -->
        <div class="row">
          <% @contact.photos.main_photos.each do |photo_builder| %>
            <div class="col-sm-6 col-md-4" >
              <div class="thumbnail">
                <img src="<%= photo_builder.file.url(:original) %>" alt="...">
                <h2 class="label center-block"><%= t("general.main_photo") %></h2>
                <% if (photo_builder.persisted?) %>
                    <%= link_to '<i class="icon mdi-content-remove-circle"></i>'.html_safe,
                                url_for([@contact, photo_builder]),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                :class => 'btn btn-icon btn-danger btn-delete-img' %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
  <% end %>

    <!-- NORMAL PHOTOS -->
    <div class="row">
      <% @contact.photos.normal_photos.each do |photo_builder| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="<%= photo_builder.file.url(:original) %>" alt="...">
              <% if (photo_builder.persisted?) %>
                  <%= link_to '<i class="icon mdi-content-remove-circle"></i>'.html_safe,
                              url_for([@contact, photo_builder]),
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-icon btn-danger btn-delete-img' %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>



  <% if @helpful_contacts %>
    <div class="actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  helpful_region_contacts_path(@region), :class => 'btn btn-default' %>
    </div>
  <% else %>
    <div class="actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  url_for([@region, :contacts]), :class => 'btn btn-default' %>
    </div>
  <% end %>

<% end %>
